@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .field {
    @apply w-full bg-gray-700 text-gray-200 p-2 rounded outline-none border-2 border-gray-800 focus:border-gray-600;
  }

  .paginateButton {
    @apply border border-gray-500 px-3.5 py-2 disabled:opacity-50 disabled:cursor-not-allowed hover:bg-gray-700 disabled:hover:bg-transparent;
  }
}
